<h2><b>Prediction using Unsupervised ML</h2></b> 
<p>From the given ‘Iris’ dataset, predict the optimum number of clusters and
represent it visually.</p>
--By Aman Budhraja

In [ ]:
#Importing packages and class
#Using seaborn and matplotlib for data visualization
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import datasets
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
%matplotlib inline

In [ ]:
#Importing the dataset
data_iris = datasets.load_iris()
data_read = pd.DataFrame(data_iris.data, columns = data_iris.feature_names)

#Displaying the first 5 rows of the dataset
data_read.head()

In [3]:
#Initial analysis of the dataset
data_read.describe()

       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
count         150.000000        150.000000         150.000000        150.000000
mean            5.843333          3.057333           3.758000          1.199333
std             0.828066          0.435866           1.765298          0.762238
min             4.300000          2.000000           1.000000          0.100000
25%             5.100000          2.800000           1.600000          0.300000
50%             5.800000          3.000000           4.350000          1.300000
75%             6.400000          3.300000           5.100000          1.800000
max             7.900000          4.400000           6.900000          2.500000

In [4]:
#Checking if the dataset contains any null value for any of the column present
data_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [ ]:
#Finding the optimal number of clusters using Kmeans algorithm 
x = data_read.iloc[:, [0, 1, 2, 3]].values
err = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', 
                    max_iter = 300, n_init = 10, random_state = 0)
    kmeans.fit(data_read)
    err.append(kmeans.inertia_)

In [ ]:
#Ploting the elbow plot to find the optimal number of cluster
sns.lineplot(x=range(1,11) ,y= err)
title = plt.title("Elbow plot method to find optimal clusters")
plt.setp(title,color ='w')
plt.xlabel("Number of clusters")
plt.ylabel("Distortion")
plt.show()

In [ ]:
#Kmeans algorithm with optimum number clusters which is equal to 3 as observed from the above plot
kmeans = KMeans(n_clusters = 3, init = 'k-means++',
                max_iter = 300, n_init = 10, random_state = 0)
y_kmeans = kmeans.fit_predict(data_read)

In [ ]:
#Visualizing clusters in the iris dataset for sepal length and sepal width
sns.scatterplot(x=x[y_kmeans == 0, 0], y=x[y_kmeans == 0, 1], label = "Cluster 1")
sns.scatterplot(x=x[y_kmeans == 1, 0], y=x[y_kmeans == 1, 1], label = "Cluster 2")
sns.scatterplot(x=x[y_kmeans == 2, 0], y=x[y_kmeans == 2, 1], label = "Cluster 3")
sns.scatterplot(x=kmeans.cluster_centers_[:, 0], y=kmeans.cluster_centers_[:,1], label = "Cluster center")
title = plt.title("Visualizing clusters in the iris dataset for sepal length and sepal width")
plt.setp(title,color ='w')
plt.xlabel("Sepal length")
plt.ylabel("Sepal width")
plt.legend()
plt.show()